@mixin header__area(){
    will-change: transform;
    font-size: 20px;
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
}

@mixin header__2eng__area(){
    will-change: transform;
    font-size: 15px;
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
}

.account__header__area-wrapper{
    display: block;
    margin: -33px 0px 0px -65px;
    padding: 0px;
    line-height: 20px;
}

.account__header__area-unknown{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-kobe{
    @include header__area();
    background-color: rgba(255,180,255,0.9);
    color:#000000;
}

.account__header__area-hanshin{
    @include header__area();
    background-color: rgba(200,200,51,0.9);
    color:#000000;
}

.account__header__area-tanba{
    @include header__area();
    background-color: rgba(160,160,160,0.9);
    color:#111111;
}

.account__header__area-tajima{
    @include header__area();
    background-color: rgba(170,80,80,0.9);
    color:#cccccc;
}

.account__header__area-seiban{
    @include header__area();
    background-color: rgba(140,190,250,0.9);
    color:#000000;
}

.account__header__area-touban{
    @include header__area();
    background-color: rgba(250,190,140,0.9);
    color:#000000;
}

.account__header__area-awaji{
    @include header__area();
    background-color: rgba(170,80,170,0.9);
    color:#ccccff;
}

.account__header__area-kengai{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-osaka{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-biwako{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-nara{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-wakayama{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-mastodos{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-mie{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-kyoto{
    @include header__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-pawoo{
    @include header__2eng__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-jp{
    @include header__2eng__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__header__area-remote-nico{
    @include header__2eng__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

@mixin avatar__area(){
    will-change: transform;
    font-size: 15px;
    padding: 3px;
    border-radious: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
}

@mixin avatar__2eng__area(){
    will-change: transform;
    font-size: 13px;
    padding: 3px;
    border-radious: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
}

.account__avatar__area-wrapper{
    display: block;
    margin: -20.5px 0px 0px 27px;
    padding:0px;
    line-height: 15px;
}

.account__avatar__area-unknown{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-kobe{
    @include avatar__area();
    background-color: rgba(255,180,255,0.9);
    color:#000000;
}

.account__avatar__area-hanshin{
    @include avatar__area();
    background-color: rgba(200,200,51,0.9);
    color:#000000;
}

.account__avatar__area-tanba{
    @include avatar__area();
    background-color: rgba(160,160,160,0.9);
    color:#111111;
}

.account__avatar__area-tajima{
    @include avatar__area();
    background-color: rgba(170,80,80,0.9);
    color:#cccccc;
}

.account__avatar__area-seiban{
    @include avatar__area();
    background-color: rgba(140,190,250,0.9);
    color:#000000;
}

.account__avatar__area-touban{
    @include avatar__area();
    background-color: rgba(250,190,140,0.9);
    color:#000000;
}

.account__avatar__area-awaji{
    @include avatar__area();
    background-color: rgba(170,80,170,0.9);
    color:#ccccff;
}

.account__avatar__area-kengai{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-osaka{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-biwako{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-nara{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-wakayama{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-mastodos{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-mie{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-kyoto{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-pawoo{
    @include avatar__2eng__area();
    margin: 0px 0px 0px -4px;
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-jp{
    @include avatar__2eng__area();
    margin: 0px;
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-nico{
    @include avatar__2eng__area();
    margin: 0px 0px 0px -2.5px;
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-social{
    @include avatar__2eng__area();
    margin: 0px;
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-nishinomiya{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-akashidon{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

.account__avatar__area-remote-akashiensis{
    @include avatar__area();
    background-color: rgba(200,200,200,0.9);
    color:#000000;
}

@import 'application';
