@import 'application';

@mixin header-area() {
  will-change: transform;
  font-size: 20px;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
}

@mixin header-2eng-area() {
  will-change: transform;
  font-size: 15px;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
}

@mixin header-remote-1kanji-area() {
  @include header-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-wrapper {
  display: block;
  margin: -27px 0 0 67px;
  padding: 0;
  line-height: 20px;
}

.account__header__area-unknown {
  @include header-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-kobe {
  @include header-area;

  background-color: rgba(255, 180, 255, 90%);
  color: #000000;
}

.account__header__area-hanshin {
  @include header-area;

  background-color: rgba(200, 200, 51, 90%);
  color: #000000;
}

.account__header__area-tanba {
  @include header-area;

  background-color: rgba(160, 160, 160, 90%);
  color: #111111;
}

.account__header__area-tajima {
  @include header-area;

  background-color: rgba(170, 80, 80, 90%);
  color: #cccccc;
}

.account__header__area-seiban {
  @include header-area;

  background-color: rgba(140, 190, 250, 90%);
  color: #000000;
}

.account__header__area-touban {
  @include header-area;

  background-color: rgba(250, 190, 140, 90%);
  color: #000000;
}

.account__header__area-awaji {
  @include header-area;

  background-color: rgba(170, 80, 170, 90%);
  color: #ccccff;
}

.account__header__area-kengai {
  @include header-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-osaka {
  @include header-remote-1kanji-area;
}

.account__header__area-remote-mastodos {
  @include header-remote-1kanji-area;
}

.account__header__area-remote-pawoo {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-jp {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-social {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-bestfriends {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-matsudai {
  @include header-remote-1kanji-area;
}

.account__header__area-remote-shachiku {
  @include header-remote-1kanji-area;
}

.account__header__area-remote-minohdon {
  @include header-remote-1kanji-area;
}

.account__header__area-remote-fedibird {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__header__area-remote-mastodon-japan {
  @include header-2eng-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

@mixin avatar-area() {
  will-change: transform;
  font-size: 15px;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
}

@mixin avatar-2eng-area() {
  will-change: transform;
  font-size: 13px;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
}

@mixin avatar-area-remote-1kanji() {
  @include avatar-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-wrapper {
  display: block;
  margin: -20.5px 0 0 27px;
  padding: 0;
  line-height: 15px;
}

.account__avatar__area-unknown {
  @include avatar-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-kobe {
  @include avatar-area;

  background-color: rgba(255, 180, 255, 90%);
  color: #000000;
}

.account__avatar__area-hanshin {
  @include avatar-area;

  background-color: rgba(200, 200, 51, 90%);
  color: #000000;
}

.account__avatar__area-tanba {
  @include avatar-area;

  background-color: rgba(160, 160, 160, 90%);
  color: #111111;
}

.account__avatar__area-tajima {
  @include avatar-area;

  background-color: rgba(170, 80, 80, 90%);
  color: #cccccc;
}

.account__avatar__area-seiban {
  @include avatar-area;

  background-color: rgba(140, 190, 250, 90%);
  color: #000000;
}

.account__avatar__area-touban {
  @include avatar-area;

  background-color: rgba(250, 190, 140, 90%);
  color: #000000;
}

.account__avatar__area-awaji {
  @include avatar-area;

  background-color: rgba(170, 80, 170, 90%);
  color: #ccccff;
}

.account__avatar__area-kengai {
  @include avatar-area;

  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-osaka {
  @include avatar-area-remote-1kanji;
}

.account__avatar__area-remote-mastodos {
  @include avatar-area-remote-1kanji;
}

.account__avatar__area-remote-pawoo {
  @include avatar-2eng-area;

  margin: 0 0 0 -4px;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-jp {
  @include avatar-2eng-area;

  margin: 0;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-social {
  @include avatar-2eng-area;

  margin: 0;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-bestfriends {
  @include avatar-2eng-area;

  margin: 0;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-matsudai {
  @include avatar-area-remote-1kanji;
}

.account__avatar__area-remote-shachiku {
  @include avatar-area-remote-1kanji;
}

.account__avatar__area-remote-minohdon {
  @include avatar-area-remote-1kanji;
}

.account__avatar__area-remote-fedibird {
  @include avatar-2eng-area;

  margin: 0;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.account__avatar__area-remote-mastodon-japan {
  @include avatar-2eng-area;

  margin: 0;
  background-color: rgba(200, 200, 200, 90%);
  color: #000000;
}

.setting-select {
  color: $primary-text-color;
  border: none;
  border-bottom: 2px solid $classic-primary-color;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  margin-bottom: 10px;
  padding: 7px 0;
  width: 100%;
  background: lighten($ui-base-color, 8%);
}
