.account__header__area_wrapper{
    display: block;
    margin: -33px 0px 0px -65px;
    padding: 0px;
    line-height: 20px;
    line-width: 20px;
}

.account__header__area_unknown{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(200,200,200,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#000000;
    display: inline-block;
}

.account__header__area_kobe{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(255,180,255,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#000000;
    display: inline-block;
}

.account__header__area_hanshin{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(200,200,51,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#000000;
    display: inline-block;
}

.account__header__area_tanba{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(160,160,160,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#111111;
    display: inline-block;
}

.account__header__area_tajima{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(170,80,80,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#cccccc;
    display: inline-block;
}

.account__header__area_seiban{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(140,190,250,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#000000;
    display: inline-block;
}

.account__header__area_touban{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(250,190,140,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#000000;
    display: inline-block;
}

.account__header__area_awaji{
    will-change: transform;
    font-size: 20px;
    background-color: rgba(170,80,170,0.9);
    padding: 3px;
    border-radious: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:#ccccff;
    display: inline-block;
}
